@charset "utf-8";
/* CSS Document */

.page-404-error {
	margin:10rem 0;
}
.page-404-error p {
	padding-bottom: 3rem;
}


.balloon-404 {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
}



.page-404-error h4 {
	padding-top: 0rem;
	margin-top: 0rem;
	background-color: #0197A2;
	width: 10rem;
	border-radius: 1rem;
	margin-left: auto;
	margin-right: auto;
	
}

.page-404-error a {
	text-decoration: none;
	color: white;
}

.go-home-error-page {
	
	
}
