@charset "utf-8";
/* CSS Document */



.about-item-photo {
	  width:300px;
	  height:300px;
	  object-fit:cover;
	  border-radius:50%;
	text-align: center;
}

.about-item, .about-item h5 {
	text-align: center;
}

.about-social-photo {
	
	
}

.about-social p {
text-align: left;
}

@media (min-width: 576px) {
	.about-social, .about-main-photo, .about-social-photo {
		text-align: center;
		} 
}


.about-main-photo {
	
}

h6 {
	font-size: 13px;
}
