@charset "utf-8";
/* CSS Document */



.about-item-photo {
	  width:300px;
	  height:300px;
	  object-fit:cover;
	  border-radius:50%;

}

.about-item, .about-item h5 {
	text-align:center;
}

.about-social-photo {
	padding: 2rem;
}

.about-social {
	text-align: center;
}

.about-main-photo {
	text-align: center;
}

h6 {
	font-size: 13px;
}
