.job-info {
  background-color: #dadada;
  padding: 1rem;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
}

.job-info-description {
text-align: center;
flex-direction: column;
justify-content: flex-end;
}
