.job-info {
  background-color: #dadada;
  padding: 1rem;
}

.job-info-description {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
