
.career-header {
	padding: 0;
}

.career-header p{
 
  margin: 0;
  padding: 2rem 3rem 2rem 3rem;
}

.career-header img {
	
}


.career-values {
  
  padding-bottom: 3rem;
  text-align: center;
}

.career-value-1 img, .career-value-2 img, .career-value-3 img {
  border-radius: 50%;
  width: 50%;
}

.career-hiring {
 
   padding-bottom: 5rem;
	text-align: center;

}

.career-hiring img {
  border-radius: 50%;
  width: 50%;
}

@media (min-width: 992px) {
	
	.career-hiring img {width: 100%;} 
	.career-value-1 img, .career-value-2 img, .career-value-3 img {width: 100%;}
}

.careers-hiring-1 a, .careers-hiring-2 a, .careers-hiring-3 a {
	text-decoration: none;
	color: white;
}

.careers-hiring-1 h4, .careers-hiring-2 h4, .careers-hiring-3 h4 {
	background-color: #0197A2;
	width: 10rem;
	margin-left: auto;
	margin-right: auto;
}
