.job-info {
  background-color: #dadada;
  padding-bottom: 1.5rem;
  padding-top:.5rem;
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
}

.job-info-description {
  text-align: center;
}

.job-info-title {

}
