@charset "utf-8";
/* CSS Document */

footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

@media (min-width: 576px) { footer { max-width: 540px; } }
@media (min-width: 768px) { footer { max-width: 720px; } }
@media (min-width: 992px) { footer {max-width: 960px; } }
@media (min-width: 1200px) { footer {max-width: 1140px; } }

.footerbar {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;

}

.footerbar .footer-info {
	background-color:grey;
	width: 100%;
}

.footerbar .footer-info .row  {
	padding: 1rem 0;
	
}

.footerbar .footer-info .row .footer-social-list section {
	
}

.footerbar .footer-info  .footer-social-list section p {
	margin: 0;
}

.footerbar .footer-info .row .footer-social-list .social-contact-nav {
	  list-style-type: none;
	
	  display: flex;
	  display: -webkit-flex;
	  flex-flow: row wrap;
	  -webkit-flex-flow: row wrap;
	  justify-content: flex-end;
	  -webkit-justify-content: flex-end;
	  align-items: flex-start;
	  -webkit-align-itmes: flex-start;
	  align-content: flex-start;
	  -webkit-align-content: flex-start;
}

.footerbar .footer-info .footer-social-list li {
	padding-left: 1.5rem;
	font-size:1.5rem;
	
}

.footerbar .footer-info .row .footer-social-list .social-contact-nav .social-contact-item .social-contact-link {
	
	color: white;
}


.footerbar .footer-info .row ul {
	list-style-type: none;
	
}

.footerbar .footer-info .row ul .footer-link {
	text-decoration: none;
	color:white;
}

.footerbar .footer-info .row .footer-sitemap-allpage ul {
	padding-left:1rem;
}

.footerbar .footer-info .row .footer-sitemap-services ul {
	padding-left:3rem;
}




@media (min-width: 992px) { 
	.footer-info {
	  display: flex;
	  display: -webkit-flex;
	  flex-flow: row wrap;
	  -webkit-flex-flow: row wrap;
	  justify-content: flex-start;
	  -webkit-justify-content: flex-start;
	  align-items: flex-start;
	  -webkit-align-itmes: flex-start;
	  align-content: flex-start;
	  -webkit-align-content: flex-start;
	}
	
	.footerbar .footer-info .row:first-child {
	  display: flex;
	  display: -webkit-flex;
	  flex-flow: column-reverse wrap;
	  -webkit-flex-flow: column-reverse wrap;
	  padding-right:5rem;
	  
	}
	
	.footerbar .footer-info .row .footer-social-list .social-contact-nav {
		padding-left:1rem;
	}
	
	.footerbar .footer-info .footer-social-list .social-contact-nav li {
	padding-left: 0rem;
	padding-right: 1.5rem;
	
	}

	
	.footerbar .footer-info .row .footer-social-list {
	padding:0;
	}
	
	
}











