.service-description {
  margin-bottom: 3rem;
  padding: 1rem 4rem;
  max-width: 100%;
}

.service-photo {
	width: 100%;
	height: 15rem;
	opacity: 0.8;
	
}

.service-image01 {
	margin-bottom: 2rem;
	position: relative;
}

.service-image01 h2 {
	position: absolute;
	color: white;
	margin: 0;
}

.image-link {
	display: flex;
      display: -webkit-flex;
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
}




.btn-moreinfo {
  background-color: #FF9D1E;
  border: transparent;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem 0;
  width: 100%;
  text-transform: uppercase;
}

.btn-addtoevent {
  background-color: #0197A2;
  border: transparent;
  color: #FFFFFF;
	padding: 12px 20px;
  border: none;
  cursor: pointer;
	margin-bottom: 1rem 0;
	width: 100%;
  text-transform: uppercase;
}

/* - - - - - - - - - - - RESPONSIVE - - - - - - - - - - - */

.image-link {
  
}

.service-image01 {
 
}

/* - - - - - - - - - - - RESPONSIVE - - - - - - - - - - - */



.service-image01 {

}


/*@media (max-width: 576px) {
  .page-image {
    height: 16rem;
    margin-bottom: 3rem;
  }

  .service-image01 {
    height: 15rem;
    margin-bottom:1rem;
  }
}


@media (min-width: 576px) {
  .page-image {
    height: 20rem;
    margin-bottom: 3rem;
  }

  .service-image01 {
    height: 20rem;
    margin-bottom:1rem;
  }
}

@media (min-width: 768px) {
  .page-image {
    height: 15rem;
    margin-bottom: 0;
  }

  .service-image01 {
    height: 12rem;
    margin-bottom:1rem;
  }
}

@media (min-width: 992px) {
  .page-image {
    height: 18rem;
  }

  .service-image01 {
    height: 12rem;
    margin-bottom:1rem;
  }

}

@media (min-width: 1200px) {
  .page-image {
    height: 20rem;
  }

  .service-image01 {
    height: 14rem;
    margin-bottom:1rem;
  }
}  */
