.image-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.service-image01 {
  background-image: url("../images/project01.jpg");
  background-position:center;
  opacity:.5;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  color: white;
}

.page-image:hover {
  opacity:1;
  color: white;
}

/* - - - - - - - - - - - RESPONSIVE - - - - - - - - - - - */

@media (max-width: 576px) {
  .page-image {
    height: 16rem;
    margin-bottom: 3rem;
  }

  .project-image {
    height: 15rem;
    margin-bottom:1rem;
  }
}


@media (min-width: 576px) {
  .page-image {
    height: 20rem;
    margin-bottom: 3rem;
  }

  .project-image {
    height: 20rem;
    margin-bottom:1rem;
  }
}

@media (min-width: 768px) {
  .page-image {
    height: 15rem;
    margin-bottom: 0;
  }

  .project-image {
    height: 12rem;
    margin-bottom:1rem;
  }

  .contact-form {
    margin: 0 7rem;
  }
}

@media (min-width: 992px) {
  .page-image {
    height: 18rem;
  }

  .project-image {
    height: 12rem;
    margin-bottom:1rem;
  }

  .contact-form {
    margin: 0 14rem;
  }
}

@media (min-width: 1200px) {
  .page-image {
    height: 20rem;
  }

  .project-image {
    height: 14rem;
    margin-bottom:1rem;
  }
