/*
  Name: Project name
  Developer: Developer's name
  Date: 01/30/2018
  Description: Here goes a description
*/



@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Montserrat:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("grid.css");
@import url("typography.css");
@import url("navigation.css");
@import url("hero-sliders.css");
@import url("footer.css");
@import url("careers-form.css");
@import url("career.css");
@import url("404-error.css");
@import url("about.css");

html {
	background-color: white;
}

body {
	margin:0;
	padding:0;

}

header {
	margin-bottom:0.5rem;

}




img {
  max-width: 100%;
}

/*------------- BACKGROUND COLORS (ADD TO YOUR DIV) -----------------*/

/* green for now */
.background-primary {
	background-color: #00F596;
}

/* light gray for now */
.background-secondary {
	background-color: #EEEEEE;
}


/*-------------home style css-----------------*/
/*-------------hero slider info -----------------*/


 .col-md-12.home-description p {
	padding: 3rem;
	margin: 0;

}


/*------------- end hero slider info -----------------*/

/* Track */






/*-------------POPULAR SERVICES SLIDERS -----------------*/

.home-popular-service-sliders {
  display: flex;
  flex-wrap: nowrap;
  overflow-x:auto;
  padding: 1rem 1rem;


}

.popular-service-item {
  text-align: center;
}

.popular-service-photo {
	width:15rem;
	height:20rem;
	object-fit: cover;
}


.home-popular-service-sliders::-webkit-scrollbar {
	  display: none;

}

@media (min-width: 992px) {
	.home-popular-service-sliders::-webkit-scrollbar {
	 height: 10px;
	 display: block;

	}

	::-webkit-scrollbar-track {
 	 background: #f1f1f1;
	}

/* Handle */
	::-webkit-scrollbar-thumb {
 	 background:  #0197A2;
	}

/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
 	 background: #555;
	}
}



 .home-popular-service-sliders .popular-service-item {
    flex: 0 0 auto;
    margin-right: 1rem;
	width: 20rem;
}


.home-popular-service-sliders .popular-service-item {
	 display: inline-block;
}

.home-popular-service-sliders .popular-service-item .popular-service-link {
	text-decoration: none;
	color: #797979;
}

.popular-service {
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}


@media (min-width: 992px) {

	.container-fluid {
		  max-width: 1200px;
		  margin-left: auto;
		  margin-right: auto;
		  /*background-color: #dadada;*/
		  padding-left: 1rem;
		  padding-right: 1rem;
	}
}







/*------------- end POPULAR SERVICES SLIDERS -----------------*/

/*------------- CAREERS  -----------------*/

.home-careers {
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	margin-bottom: 5rem;

}

.home-careers p {

	padding: 0rem 3rem 1rem 3rem;
	margin-bottom: 0;
}

.home-careers h4 {
	padding-top: 0rem;
	margin-top: 0rem;
	background-color: #0197A2;
	width: 10rem;
	border-radius: 1rem;
	margin-left: auto;
	margin-right: auto;

}

.home-careers a {
	text-decoration: none;
	color: white;
	padding: 0.5rem;
}


/*------------- end CAREERS  -----------------*/




/*begin REQUEST INFO*/

.btn-ans{
  background-color: #0197A2;
  border: transparent;
  color: #FFFFFF;
	padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	margin:1rem;
	width: 100%;
}

.unsure{
	background-color: #FF9D1E;
	border: transparent;
  color: #FFFFFF;
	padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	margin:1rem;
	width: 100%;
}

.btn{
  background-color: transparent;
  border: transparent;
}

a.indicator-control-next{
  color: #FF9D1E;
	font-size: 2rem;
}

a.indicator-control-prev{
  color: #0197A2;
	font-size: 2rem;
}


.hide{
  display: none;
}

.page{
  display: none;
  width: 100%;
	padding-bottom: 1rem;
}

.active{
  display: block;
}

.indicator-container .slide-indicators {
                list-style-type:none;
                margin:0;
                padding:0;
                text-align:center;
                position:absolute;
                bottom:0;
                width:100%;
                z-index:1;
                cursor:pointer;
}

ol.slide-indicators{
	padding: 0;
}

.request-container .slide-indicators li {
                width:20px;
                height:20px;
                border-radius:50%;
                background-color:#dadada;
                display:inline-block;

}

.request-container .slide-indicators li.active {
                background-color:orange;

}

.request-container .slide-indicators li.inactive {
                background-color:#dadada;

}
.btn-col{
		display: flex;
		display: -webkit-flex;
		flex-flow: column nowrap;
		-webkit-flex-flow: column nowrap;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		align-items: center;
		-webkit-align-items: center;
		align-content: center;
		-webkit-align-content: center;
		width: 50%;
		padding: 0 4rem;
}

.btn-row{
		display: flex;
		display: -webkit-flex;
		flex-flow: row nowrap;
		-webkit-flex-flow: row  nowrap;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		align-items: flex-start;
		-webkit-align-items: flex-start;
		align-content: center;
		-webkit-align-content: center;
		width: 100%;
		padding: 0 4rem;
}
.col-slide-7{
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	align-content: center;
	-webkit-align-content: center;
	width: 30%;
	padding: 0 1rem;
}


.btn-grid{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	align-content: center;
	-webkit-align-content: center;
}

.indicators-align{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	align-content: center;
	-webkit-align-content: center;
}

.controls{
	padding: 1rem 4rem;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-content: center;
	-webkit-align-content:center;
}

.button-match{
	padding: 0 4rem;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	align-content: center;
	-webkit-align-content: center;

}

input[type=date],input[type=email],input[type=tel],input[type=textarea] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

input[type=number]{
	width: 42%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

input[type=textarea] {
	padding-bottom: 3rem;
	rows: 5;
	columns: 40;
}

#form-controls{
	padding-top: 3rem;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-content: center;
	-webkit-align-content:center;
}

.prefresponse{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	padding-top: 1rem;
}



.page p{
	width: 100%;
	padding: 0 5rem;
}

.prefresponse p{
	text-align: left;
	padding: 0;
	width: 25%;
}

p.input-row{
	padding: 0;
}

.req-contact-col{
width: 65%;
}

a.indicator-control-prev:hover {
color: #3FB6BF;}

.hoverblue{
	background-color: #3FB6BF;
}

.hoverorange{
	background-color:#ffc478;;
}

a.indicator-control-next:hover {
color:#ffc478;}

.btn-ans:hover {
background-color: #3FB6BF;}

.unsure:hover {
background-color: #ffc478;}
