h1, h2, h3, h4 {
  font-family: "Libre Baskerville", "Times New Roman", "Georgia", serif;
  font-weight: 700;
}

h1 {
  font-size: 4.236em;
  line-height: 4.236rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.618em;
  line-height: 3.427rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.618em;
  line-height: 2.427rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1em;
  line-height: 1.618rem;
}

p {
  max-width: 35rem;
  margin-bottom: 1.5rem;
}

b, strong {
  font-weight: 500;
  color: #000000;
}

ul.unstyled {
  padding-left: 0;
  list-style-type: none;
}

ul.inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.inline > li {
  display: inline-block;
  padding: 0.5rem 1rem;
}







/* read */
