/* GLOBAL COLORS
MAIN GREEN: #0197A2;
LIGHT GREEN: #3FB6BF
HOVER LIGHT GREEN (ON MAIN GREEN): #CAEBED;

MUSTARD YELLOW: #FF9D1E;

LIGHT GRAY: #EEEEEE;

TYPE GRAY: #797979;
*/


html {
  font-family: "Muli", "Arial", sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
}

/* MOBILE AND TABLET */

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3rem;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

h4 {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2rem;
}

h5 {
  font-size: .95rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: left;
}

h5 a {
  font-weight: 600;
  color: white;
}

h5 a:hover {
  color: #CAEBED;
}


/* FOOTER / DISCLAIMER */
h6 {
  font-size: 0.7rem;
  font-weight: 400;
}

p {
  line-height: 1.4rem;
 
}

p a {
  text-decoration: none;
  color: #0197A2;
  font-weight: 700;
}

p a:hover {
  color: #FF9D1E;
}
